<h1 class="mad-show">Here's Your Prediction...</h1>
<p class="mad-show-p">
Ah, <%= "#{@madlib.user.first_name}" %>, so you're a <%="#{@madlib.zodiac_sign.name}" %>.
<%= @madlib.content %> They're always trouble for <%="#{@madlib.zodiac_sign.name}" %>!

</p>
