<div class="header">

</div>

<body>



  <div class="zodiac-page-text">
    <% @zodiac_signs.each do |zodiac_sign| %>
     <%= link_to zodiac_sign.name, zodiac_sign_path(zodiac_sign)%>
    <% end %>
  </div>
</body>
