<h1><%= @constellation.zodiac_sign.name %></h1>

<%= image_tag "#{@constellation.sky_url}" %> <br>
<p><%= @constellation.description %></p>
<%= link_to "Constellation HomePage", constellations_path %>
