// Place all the styles related to the madlib controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .madlib-new {
font-family: 'Courgette', cursive;
  text-align: center;
  color: teal;
}
.mad-title {
  font-family: 'Courgette', cursive;
    text-align: center;
    color: teal;
}
.mad-submit{
  font-family: 'Courgette', cursive;
    text-align: center;
    color: teal;
}
.mad-show{
  font-family: 'Courgette', cursive;
  color: teal;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.mad-show-p{
  margin-left: 100px;
  margin-right: 100px;
}
