.madlib-new {
font-family: 'Courgette', cursive;
text-align: center;
color: teal;
}
.user-form{
font-family: 'Courgette', cursive;
  text-align: center;
  color: teal;
}
.n-user-title{
  font-family: 'Courgette', cursive;
    text-align: center;
    color: teal;
}
.new-user-form{
  font-family: 'Courgette', cursive;
    text-align: center;
    color: teal;
}
.submit-text{
  font-family: 'Courgette', cursive;
    text-align: center;
    color: teal;
}
.collection-text{
  font-family: 'Courgette', cursive;
    text-align: center;
    color: teal;
}

.user-show{
  font-family: 'Courgette', cursive;
    text-align: left;
    color: teal;
    font-size: 22px;
}

.edit-link{
  font-size: 22px;
}
.account-i{
  text-decoration: underline;
    font-family: 'Courgette', cursive;
}
