// Place all the styles related to the zodiac_sign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#zodiac-page-title {
  color: teal;
  font-family: 'Courgette', cursive;
  font-size: 50px;
  // text-align: right;
  position: relative;
  top: -200px;
	left: 600px;
}
