

#zodiac-page-title {
  color: teal;
  font-family: 'Courgette', cursive;
  font-size: 50px;
  // text-align: right;
  position: relative;
  top: -200px;
	left: 600px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  img{
    width: 300px;
    margin: 0 auto;
  }
  

}

.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  
}

.zodiacshow {
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  
}

.shadow {
   text-shadow: 1px 1px 0 black, 2px 2px 0 white;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: black;
}

#zodiac_index_span {

  display: flex;
  align-items: center;
  flex-direction: column;
   background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6a9b3d50749631.598ca0930ad36.jpg");
   background-position: center;
     background-size: 500px;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Courgette', cursive;
     background-color: #c9ddff;
}

#zodiac_index_span a {
  color:white;
  text-shadow: 1px 1px 0 white, 2px 2px 0 black;
  background-color: transparent;

}
