// Place all the styles related to the zodiac_sign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
}
#main-page-title {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 50px;
  padding: 115px;
  text-align: left;
}

body{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6a9b3d50749631.598ca0930ad36.jpg");
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body p {
  text-align: bottom;
}
